<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <script src="/scripts/script.js" defer></script>
</head>

<body>
{% unless login %}
{% render 'partials/logout.liquid' %}
{% endunless %}
