{% render 'partials/head.liquid', title: 'Homepage' %}

<main>

<section class="hero">

  <h1>
    <span>S</span>
    <span>q</span>
    <span>o</span>
    <span>g</span>
    <span>l</span>
    <span>e</span>
  </h1>
{% render 'partials/searchbar.liquid'%}
  <ul>
    <li><a href="#">Iedereen</a></li>
    <li><a href="#">Random</a></li>
  </ul>
</section>




<section class="start">
<p>Zet 'm op team {{ teamName }}!</h1>

<h2>Huidige berichten</h2>

{% for message in messages %}
  <p>{{ message.from }}: {{ message.text }} @{{ message.created | date: '%d-%m-%Y %H:%M' }}</p>
{% else %}
  <p>Er zijn nog geen berichten voor dit team.</p>
{% endfor %}

<h2>Voeg een bericht toe</h2>
<form method="post" action="/">
  <label>
    Naam:
    <input type="text" name="from" required>
  </label>
  <label>
    Bericht:
    <textarea name="text" required></textarea>
  </label>
  <button type="submit">Verstuur</button>
</form>
</section>

</main>