{% render 'partials/head.liquid', title: 'Homepage' %}

<main>
{% for person in persons %}
    <p>{{ person.name }}</p>
{% endfor %}
{% if isSearch %}
    <p>je hebt gezocht op: {{ person.name }}</p>
{% endif %}

</main>