*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-background-main: #1F1F1F;
    --color-background-secondary: #4C5158;
    --color-background-button: #303134;
    --color-background-filter: #019684;
    --color-text: #E8E8E8;
    --color-text-link: #8FC4FF;
    --color-line: var(--color-text);

    --font-size-xl: 3rem;
    --font-size-l: 2rem;
    --font-size-m: 1.5rem;
    --font-size-s: 1rem;
}

body {
    background-color: var(--color-background-main);
    color: var(--color-text);
    font-family: Arial, Helvetica, sans-serif;

    form.searchbar {
        width: 100%;
        display: flex;
        justify-content: center;

        input {
            width: 80%;
            max-width: 42rem;
            height: 2.5rem;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23E8E8E8' d='M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39M11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: 98% 50%;
            font-size: var(--font-size-s);
            border-radius: 24px;
            background-color: var(--color-background-secondary);
            border: 0;
            padding-inline: 1rem;
            color: var(--color-text);

            &::placeholder {
                color: var(--color-text);
            }
        }
    }

}