section.hero {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        text-align: center;

        span {
            font-size: clamp(4.5rem, -4.4615rem + 30.7692vw, 9rem);
            font-weight: 300;
            width: min-content;

            &:nth-of-type(1) {
                color: #D90000;
            }

            &:nth-of-type(2) {
                color: #07DE00;
                font-family: 'Times New Roman', Times, serif;
            }

            &:nth-of-type(3) {
                color: #0D75FC;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }

            &:nth-of-type(4) {
                color: #88FF11;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }

            &:nth-of-type(5) {
                color: #649533;
            }

            &:nth-of-type(6) {
                color: #00726E;
                font-family: 'Courier New', Courier, monospace;
            }
        }
    }
}

form {
    margin-block: 2.5rem;
}

ul {
    display: flex;
    gap: 1rem;
    row-gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;

    li {
        list-style: none;

        a {
            text-decoration: none;
            background-color: var(--color-background-button);
            color: var(--color-text);
            padding: 0.5rem 2rem;
            border-radius: 12px;
        }
    }
}

