section.hero {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        text-align: center;

        span {
            font-size: clamp(4.5rem, -4.4615rem + 30.7692vw, 9rem);
            font-weight: 300;
            width: min-content;

            &:nth-of-type(1) {
                color: #D90000;
            }

            &:nth-of-type(2) {
                color: #07DE00;
                font-family: 'Times New Roman', Times, serif;
            }

            &:nth-of-type(3) {
                color: #0D75FC;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }

            &:nth-of-type(4) {
                color: #88FF11;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }

            &:nth-of-type(5) {
                color: #649533;
            }

            &:nth-of-type(6) {
                color: #00726E;
                font-family: 'Courier New', Courier, monospace;
            }
        }
    }
}

form {
    margin-block: 2.5rem;
}

ul {
    display: flex;
    gap: 1rem;
    row-gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;

    li {
        list-style: none;

        a {
            text-decoration: none;
            background-color: var(--color-background-button);
            color: var(--color-text);
            padding: 0.5rem 2rem;
            border-radius: 12px;
        }
    }
}



/* iedereen page styling */


.search-results {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.results-count {
    color: #888;
    font-size: 0.85rem;
    margin-bottom: 1.5rem;
}

.student-list {
    list-style: none;
    padding: 0;
    max-width: 760px;
}

.student-item {
    padding: 1.5rem 0;
    border-bottom: 1px solid #000000;
    display: grid;
    grid-template-columns: 50px 1fr auto;
    grid-template-rows: auto auto auto;
    gap: 0.5rem 1rem;
    align-items: start;
}

.student-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    grid-row: 1;
    grid-column: 1;
}

.student-name {
    font-size: var(--font-size-s);
    margin: 0;
    grid-row: 1;
    grid-column: 2;
}

.comment-button {
    background: transparent;
    border: none;
    font-size: var(--font-size-s) ;
    cursor: pointer;
    grid-row: 1;
    grid-column: 3;
    transition: color 0.2s;
}

.student-bio {
    color: var(--color-text-link);
    font-size: var(--font-size-s);
    margin: 0;
    grid-row: 2;
    grid-column: 1 / -1;

}

.student-details {
    color: var(--color-text);
    font-size: 0.8rem;
    margin: 0;
    grid-row: 3;
    grid-column: 1 / -1;
}

.no-results {
    color: var(--color-text);
    padding: 2rem;
}