* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    /* Kleuren */
    --primary-background-color: #000C24;
    /* Donkerblauwe achtergrondkleur */
    --secondary-background-color: #ffffff;
    /* Witte achtergrondkleur */
    --primary-highlight-color: #2016C6;
    /* Helblauwe highlightkleur */
    --primary-text-color: var(--secondary-background-color);
    /* Witte tekstkleur */
    --secondary-text-color: var(--primary-background-color);
    /* Grijze tekstkleur */

    /* Fonts */
    --font-header: 'Akira-expanded', sans-serif;
    --font-paragraph: 'American-Typewriter-Regular', sans-serif;

    /* Decoratie */

    /* Voor kleine ronde vormen */
    --small-rounded: 15px;
    /* Voor medium ronde vormen */
    --medium-rounded: 30px;
    --big-rounded: 500px;
}

/* ---------------------------------- States algemeen -------------------------------- */

*:focus-visible {
    outline: 3px dashed var(--primary-highlight-color);
    outline-offset: 4px;
}

/* ---------------------------------- Typografie -------------------------------- */

@font-face {
    font-family: 'Akira-expanded';
    src: url(../fonts/akira-expanded.otf) format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'American-Typewriter-Bold';
    src: url(../fonts/american-typewriter-bold.ttf) format('truetype');
    font-style: normal;
    font-weight: 800;
}

/* ---------------------------------- Classes kleuren -------------------------------- */

/* Witte achtergrond */
.primary-background {
    background-color: var(--primary-background-color);
}

/* Zwarte achtergrond */
.secondary-background {
    background-color: var(--secondary-background-color);
}

/* Gele highlight */
.primary-highlight {
    background-color: var(--primary-highlight-color);
}

/* Roze highlight */
.secondary-highlight {
    background-color: var(--secondary-highlight-color);
}

/* Roze highlight */
.third-highlight {
    background-color: var(--third-highlight-color);
}


/* Zwarte tekst */
.primary-tekst {
    color: var(--primary-text-color);
}

/* Witte tekst */
.secondary-tekst {
    color: var(--secondary-text-color);
}

/* Rood error */
.error-red {
    background-color: var(--secondary-text-color);
}

/* Groen check */
.check-green {
    background-color: var(--error-color);
}

/* ---------------------------------- Tekst elementen -------------------------------- */

h1,
h2,
h3,
h4,
h5,
H6 {
    font-family: var(--font-header);
    color: var(--primary-text-color);
    margin: 0em 0em .5em 0em;
    padding: 0;
}

h1 {
    font-size: clamp(2.1875rem, 1.9022rem + 1.3043vw, 2.725rem);
    line-height: 115%;
}

h2 {
    font-size: clamp(1.0rem, 1.2054rem + 0.7143vw, 1.3rem);
    line-height: 110%;
}

h3 {
    font-size: clamp(1.125rem, 1.0826rem + 0.1786vw, 1.25rem);
    line-height: 115%;
}

h4 {
    font-size: clamp(1.25rem, 1.0846rem + 0.8824vw, 2.1875rem);
    line-height: 118%;
}

h5 {
    font-size: clamp(1.125rem, 0.9926rem + 0.7059vw, 1.875rem);
    line-height: 118%;
}

h6 {
    font-size: clamp(1rem, 0.9007rem + 0.5294vw, 1.5625rem);
    line-height: 118%;
}

/* Paragraaf */
p {
    font-size: clamp(1rem, 1rem + 0vw, 1rem);
    line-height: 180%;
    font-family: var(--font-paragraph);
    color: var(--primary-text-color);
}

/* ---------------------------------- Pricing elementen -------------------------------- */

.price {
    display: flex;
    flex-direction: row;
}

.price-left {
    font-size: 60px;
}

.price-right {
    font-size: 30px;
    translate: -10px -10px;
}

.price-left-small {
    font-size: 36px;
}

.price-right-small {
    font-size: 20px;
    translate: -8px -5px;
}

/* ---------------------------------- List elementen -------------------------------- */

ul {
    font-size: clamp(1rem, 1rem + 0vw, 1rem);
    line-height: 140%;
    font-family: var(--font-paragraph);
}

ol {
    font-size: clamp(1rem, 1rem + 0vw, 1rem);
    line-height: 140%;
    font-family: var(--font-paragraph);
}

/* ---------------------------------- Detail + summary -------------------------------- */

details {
    font-family: var(--font-paragraph);

    summary {
        font-family: var(--font-header);
        font-size: clamp(0.9rem, 1rem + 0vw, 0.8rem);
    }
}


/* ---------------------------------- Knoppen -------------------------------- */

a {
    font-size: clamp(1rem, 1rem + 0vw, 1rem);
    line-height: 1.5em;
    font-family: var(--font-paragraph);
    color: var(--primary-text-color);
    transition: transform ease-in-out .2s;

    &:hover {
        color: var(--secondary-highlight-color);
        transition: ease-in-out .2s;
    }
}

/* Knop filters */
.filter-link {
    align-self: baseline;
    font-family: var(--font-header);

    /* Background glass effect */
    background: rgba(255, 255, 255, 0.193);
    border-radius: var(--small-rounded);
    box-shadow: 0 4px 30px rgba(108, 9, 9, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    color: var(--primary-text-color);
    padding: 1em 1.6em;
    border: 1px solid var(--secondary-background-color);
    border-radius: var(--small-rounded);
    text-decoration: none;
    gap: 0.5em;
    display: inline-flex;
    transition: 0.2s ease-in-out;
    font-size: clamp(1rem, 1rem + 0vw, 1rem);

    &:hover {
        background-color: var(--secondary-background-color);
        color: var(--secondary-text-color);
        transition: ease-in-out 0.2s;
        border: 1px solid var(--secondary-background-color);
    }

    &:active {
        background-color: var(--secondary-background-color);
        color: var(--secondary-text-color);
        transition: ease-in-out 0.2s;
        border: 1px solid var(--secondary-background-color);
    }
}

.active {
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
    transition: ease-in-out 0.2s;
    border: 1px solid var(--secondary-background-color);
}

.github-link {
    align-self: baseline;
    font-family: var(--font-header);

    /* Background glass effect */
    background: rgba(255, 255, 255, 0.193);
    border-radius: var(--small-rounded);
    box-shadow: 0 4px 30px rgba(108, 9, 9, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    color: var(--secondary-text-color);
    padding: 1em 1.6em;
    border: 1px solid var(--secondary-background-color);
    text-decoration: none;
    gap: 0.5em;
    display: inline-flex;
    transition: 0.2s ease-in-out;
    font-size: clamp(1rem, 1rem + 0vw, 1rem);

    svg {
        fill: #fff;
    }

    &:hover {
        background-color: var(--secondary-background-color);
        color: var(--primary-text-color);
        transition: ease-in-out 0.2s;
        border: 1px solid var(--secondary-background-color);
    }

    &:hover svg {
        fill: var(--primary-background-color);
    }

    &:active {
        background-color: var(--primary-highlight-color);
        color: var(--primary-text-color);
        transition: ease-in-out 0.2s;
    }
}

.github-link {
    align-self: baseline;
    font-family: var(--font-header);

    /* Background glass effect */
    background: rgba(255, 255, 255, 0.193);
    border-radius: var(--small-rounded);
    box-shadow: 0 4px 30px rgba(108, 9, 9, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    color: var(--secondary-text-color);
    padding: 1em 1.6em;
    border: 1px solid var(--secondary-background-color);
    text-decoration: none;
    gap: 0.5em;
    display: inline-flex;
    transition: 0.2s ease-in-out;
    font-size: clamp(1rem, 1rem + 0vw, 1rem);

    svg {
        fill: #fff;
    }

    &:hover {
        background-color: var(--secondary-background-color);
        color: var(--primary-text-color);
        transition: ease-in-out 0.2s;
        border: 1px solid var(--secondary-background-color);
    }

    &:hover svg {
        fill: var(--primary-background-color);
    }

    &:active {
        background-color: var(--primary-highlight-color);
        color: var(--primary-text-color);
        transition: ease-in-out 0.2s;
    }
}

/* Knop filters */
.back-link {
    align-self: baseline;
    font-family: var(--font-header);

    /* Background glass effect */
    background: rgba(255, 255, 255, 0.193);
    border-radius: var(--small-rounded);
    box-shadow: 0 4px 30px rgba(108, 9, 9, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    color: var(--primary-text-color);
    padding: 1em 1.6em;
    border: 1px solid var(--secondary-background-color);
    border-radius: var(--small-rounded);
    text-decoration: none;
    gap: 0.5em;
    display: inline-flex;
    transition: 0.2s ease-in-out;
    font-size: clamp(1rem, 1rem + 0vw, 1rem);
    align-items: center;

    svg {
        fill: var(--primary-text-color);
    }

    &:hover {
        background-color: var(--secondary-background-color);
        color: var(--secondary-text-color);
        transition: ease-in-out 0.2s;
        border: 1px solid var(--secondary-background-color);
    }

    &:hover svg {
        fill: var(--primary-background-color);
    }

    &:active {
        background-color: var(--secondary-background-color);
        color: var(--secondary-text-color);
        transition: ease-in-out 0.2s;
        border: 1px solid var(--secondary-background-color);
    }
}

.arrow-right-link {
    align-self: baseline;
    font-family: var(--font-header);

    /* Background glass effect */
    background: rgba(255, 255, 255, 0.193);
    border-radius: var(--small-rounded);
    box-shadow: 0 4px 30px rgba(108, 9, 9, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    color: var(--secondary-text-color);
    padding: 1em 1.6em;
    border: 1px solid var(--secondary-background-color);
    text-decoration: none;
    gap: 0.5em;
    display: inline-flex;
    transition: 0.2s ease-in-out;
    font-size: clamp(1rem, 1rem + 0vw, 1rem);
    margin-top: 1.5em;

    img {
        width: 1.2em;
    }

    &:hover {
        background-color: var(--primary-highlight-color);
        color: var(--primary-text-color);
        transition: ease-in-out 0.2s;
        border: 1px solid var(--secondary-background-color);
    }

    &:active {
        background-color: var(--primary-highlight-color);
        color: var(--primary-text-color);
        transition: ease-in-out 0.2s;
    }
}

.visitekaartje-link {
    align-self: baseline;
    font-family: var(--font-header);
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
    padding: 1em 1.6em;
    border: 1px solid var(--secondary-background-color);
    border-radius: var(--small-rounded);
    text-decoration: none;
    gap: 0.5em;
    display: inline-flex;
    transition: 0.2s ease-in-out;
    font-size: clamp(1rem, 1rem + 0vw, 1rem);

    svg {
        fill: var(--primary-background-color);
    }

    &:hover {
        /* Background glass effect */
        background: rgba(255, 255, 255, 0.193);
        border-radius: var(--small-rounded);
        box-shadow: 0 4px 30px rgba(108, 9, 9, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);

        color: var(--primary-text-color);
        transition: ease-in-out 0.2s;
        border: 1px solid var(--secondary-background-color);
    }

    &:hover svg {
        fill: var(--secondary-background-color);
    }

    &:active {
        background-color: var(--primary-highlight-color);
        color: var(--primary-text-color);
        transition: ease-in-out 0.2s;
    }
}

/* ---------------------------------- Width van alle contentblokken -------------------------------- */

.width-top-btm {
    padding: 3.5em 1em 3.5em 1em;

    @media screen and (min-width: 920px) {
        padding: 4.5em 3em 4.5em 3em;
    }

    @media screen and (min-width: 1120px) {
        padding: 5em 7em 5em 7em;
    }

    @media screen and (min-width: 1600px) {
        padding: 4em 4em 4em 4em;
    }
}

/* Width met padding onder */
.width-btm {
    padding: 0em 1em 3.5em 1em;

    @media screen and (min-width: 920px) {
        padding: 0em 3em 4.5em 3em;
    }

    @media screen and (min-width: 1120px) {
        padding: 0em 7em 5em 7em;
    }

    @media screen and (min-width: 1600px) {
        padding: 0em 4em 4em 4em;
    }
}

/* Width met padding boven */
.width-top {
    padding: 3.5em 1em 0em 1em;

    @media screen and (min-width: 920px) {
        padding: 4.5em 3em 0em 3em;
    }

    @media screen and (min-width: 1120px) {
        padding: 5em 7em 0em 7em;
    }

    @media screen and (min-width: 1600px) {
        padding: 4em 4em 0em 4em;
    }
}