body {
    background-image: url("/assets/blue-gradient-background.jpeg");
    background-size: 100% 120%;
    /* De afbeelding wordt exact geschaald naar de breedte en hoogte van de container */
    background-position: 50% 0%;
}

.squadpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
    }

    .label-filter {
        padding: 0em 0em 1em 0em;
    }

    .dropdown {
        padding: 0em 0em 3em 0em;

        summary {
            color: var(--secondary-text-color);
            background-color: var(--secondary-background-color);
            padding: 1em 2em 1em 1em;
            border-radius: var(--small-rounded);
            position: relative;
            list-style: none;

            &::before {
                content: '\2193';
                font-size: 18px;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                transition: transform 0.3s ease, content 0.3s ease;
            }

            /* Verberg de standaard marker voor details */
            &::-webkit-details-marker {
                display: none;
            }

            /* Verberg de marker in andere browsers (bijvoorbeeld Firefox) */
            &::marker {
                display: none;
            }
        }

        details[open] summary::before {
            content: '\2191';
            /* Naar boven wijzende pijl (chevron) */
            transform: translateY(-50%) rotate(180deg);
            /* Draai de chevron 180 graden */
        }
    }

    .menu-dropdown {
        background-color: var(--secondary-background-color);
    }
}

.inleiding {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
    justify-content: center;

    @media screen and (min-width: 960px) {
        width: 40%;
    }
}

.label {
    display: flex;
    padding: 2.5em 0em 0em 0em;
}

.filter-bookgenre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 1.5em 0em;

    @media screen and (min-width: 960px) {
        padding: 2.5em 0em 3.5em 0em;
    }
}

#person-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;

    gap: 4em;
    padding: 2.5em 0em 0em 0em;

    @media screen and (min-width: 640px) {
        gap: 4em 2em;
    }

    .student {
        list-style-type: none;
        padding: 2em;
        width: 100%;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        /* Background glass effect */
        background: rgba(255, 255, 255, 0.193);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);

        transition: .2s ease-in-out;

        @media screen and (min-width: 960px) {
            width: 100%;
        }

        &:hover {
            transform: translateY(-.5em);
            transition: .2s ease-in-out;
        }

        .avatar {
            border-radius: var(--big-rounded);
            width: 7.5em;
            height: 7.5em;
            object-fit: cover;
            margin: -5em 0em 2em 0em;
        }

        p {
            text-align: left;
            display: flex;
            gap: .5em;
            height: 6em;

            .book-icon {
                width: 1.3em;
            }
        }

        .bio {
            overflow: hidden;

            p {
                padding: 1em 0em 0em 0em;
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            gap: .7em;
            padding: 1em 0em 0em 0em;
        }
    }
}

/* ------------------------------------- Student.liquid -------------------------------------- */

main {

    display: flex;
    flex-direction: column;
    align-items: center;

    .link-back {
        margin: 0em 0em 2em 0em;
        width: 100%;

        @media screen and (min-width: 960px) {
            margin: 0em 0em -2em 0em;
        }

        a {
            display: inline-flex;
            gap: .7em;
            text-decoration: none;
        }
    }

    h1 {
        text-align: center;
        padding: 0.5em 0em 0em 0em;
    }

    .profile {
        border-radius: var(--big-rounded);
        width: 100%;

        @media screen and (min-width: 450px) {
            width: 25em;
            height: 25em;
            object-fit: cover;
        }

        @media screen and (min-width: 960px) {
            width: 25em;
            height: 25em;
            object-fit: cover;
        }
    }

    .introductie {
        max-width: 100%;
        text-align: center;

        @media screen and (min-width: 960px) {
            max-width: 60%;
        }
    }

    .meer-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
        padding: 2em 0em 0em 0em;

        li {
            list-style-type: none;

            p {
                display: flex;
                align-items: center;
                gap: .5em;
                border: 1px solid #fff;
                border-radius: 10px;
                padding: 0.7em 1.3em;
            }
        }
    }
}

/* ---------------------------------- Footer -------------------------------------- */

footer {

    .divider {
        padding: 1p;
        width: 100%;
        height: 1px;
        background-color: #ffffff;
    }

    p {
        text-align: center;
        padding: 1em 0em 0em 0em;
    }

}